.container {
  /* background-color: transparent; */
  margin: 0.7rem;
  margin-top: 1rem;
  margin-left: 17%;
  padding: 0.5rem;
  padding-top: 0.5rem;
  padding-bottom: 1.5rem;
  background: linear-gradient(145deg, #f0f0f09c, #cacaca24);
  box-shadow: 3px 3px 5px #868686, -5px -5px 9px #f6f6f6cf;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;
}
.data-row {
  display: flex;
  grid-column: 1;
}
.graph {
  padding: 1rem;
  width: 23rem;
  height: 8rem;
  background: linear-gradient(145deg, #f0f0f09c, #dadada24);
  box-shadow: 3px 3px 3px #b2b2b2c1, -3px -3px 7px #ffffff;
  border-radius: 10px;
  grid-column: 2;
  grid-row: 1;
}
