<div class="container">
  <form (ngSubmit)="changePassword()" #passwordForm="ngForm">
    <h3>Veuillez ajouter votre nouveau mot de passe</h3>
    <div class="password-container">
      <input
        type="{{ passwordFieldType }}"
        [(ngModel)]="password"
        name="password"
        required
        placeholder="Nouveau mot de passe"
        id="password"
        #passwordField="ngModel"
      />
      <button type="button" (click)="togglePasswordVisibility()">
        {{ passwordFieldType === "password" ? "👁️" : "🕳️" }}
      </button>
      <div
        *ngIf="passwordField.invalid && passwordField.touched"
        style="color: red"
      >
        Mot de passe invalide (minimum 8 caractères).
      </div>
    </div>

    <div class="password-container">
      <input
        type="{{ passwordFieldType }}"
        [(ngModel)]="confirmPassword"
        name="confirmPassword"
        required
        placeholder="Confirmer votre mot de passe"
        id="confirmPassword"
        #confirmPasswordField="ngModel"
      />
      <button type="button" (click)="togglePasswordVisibility()">
        {{ passwordFieldType === "password" ? "👁️" : "🕳️" }}
      </button>
      <div
        *ngIf="confirmPassword !== password && confirmPasswordField.touched"
        style="color: red"
      >
        Les mots de passe ne correspondent pas.
      </div>
    </div>

    <div class="button">
      <button
        class="submit-btn"
        type="submit"
        [disabled]="passwordForm.invalid || confirmPassword !== password"
      >
        Valider
      </button>
    </div>
  </form>
</div>
