* {
  margin: 0%;
  font-family: "Mirza", serif;
}

#modal-content-wrapper {
  padding: 1rem;
  background-color: #ffb7d9;
}

.input-data {
  background-color: white;
  border: 1px solid #e4e4e4;
  border-radius: 15px;
  display: inline-flex;
  padding: 0.2rem;
  font-size: 1rem;
}

.form-row {
  margin-left: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 2rem;
}
.form-row-inline {
  display: flex;
  margin-left: 3rem;
}

.form-btn {
  display: flex;
  justify-content: flex-end;
}

.input-btn {
  border: none;
  font-size: 1rem;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-left: 6rem;
  margin-bottom: 0.5rem;
  background-color: #fc62aa;
}
.textarea {
  width: 50rem;
  height: 3rem;
  resize: none;
}
