<div id="modal-content-wrapper">
  <form #editForm="ngForm">
    <div class="form-row">
      <div class="data-field">
        <h2>Rdv terminé ?</h2>
        <div>
          <input class="input-data" type="radio" name="oui" value="true" />
          <label for="oui">Oui</label>
        </div>
        <div>
          <input class="input-data" type="radio" name="non" value="false" />
          <label for="non">Non</label>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="data-field">
        <label for="">Mode de paiement :</label>
        <select name="payment" id="" class="input-data">
          <option value="carte">Carte</option>
          <option value="espece">Espèce</option>
          <option value="espece et carte">Espèce et carte</option>
          <option value="carte cadeau">Carte Cadeau</option>
        </select>
      </div>
    </div>

    <div class="form-row">
      <div class="data-field">
        <label for="">Montant :</label>
        <input
          name="montantEspece"
          class="input-data"
          type="text"
          placeholder="20"
        />
        <span> Par espèce</span>
        <input
          name="montantCarte"
          class="input-data"
          type="text"
          placeholder="20"
        />
        <span> Par carte</span>
      </div>
    </div>

    <div class="form-btn">
      <input
        class="input-btn"
        id="edit-customer-btn"
        type="submit"
        value="Sauvegarder"
      />
    </div>
  </form>
</div>
