.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
form {
  margin-bottom: 5rem;
  margin-top: 5rem;
  height: 20rem;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.13);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
  padding: 50px 35px;
}
form * {
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

input {
  height: 4rem;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.301);
  border-radius: 5px;
  padding: 0 1rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 14px;
  font-weight: 300;
}
::placeholder {
  color: #c6c6c6;
}
input:focus {
  transition: 400ms;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
.connect-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  background-color: #000000;
  text-decoration: none;
  width: 10rem;
  border: 3px solid transparent;
  border-radius: 5px;
}
.connect-btn span {
  color: aliceblue;
}
.connect-btn:hover {
  background-color: #606060;
}
.password-container {
  display: flex;
  align-items: center;
}

.password-container input {
  flex: 1;
}

.password-container button {
  margin-left: 10px;
  padding: 5px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.error-message {
  color: red;
  font-size: 0.7rem;
  display: none;
}
