<div id="modal-content-wrapper">
  <form #editForm="ngForm" (ngSubmit)="onUpdateCustomer()">
    <div class="form-row">
      <div class="data-field">
        <input
          name="id_type_prestation"
          [(ngModel)]="selectedTypePrestation.id"
          type="hidden"
        />
        <label for="title">Titre :</label>
        <input
          name="title"
          (ngModel)="(selectedTypePrestation.title)"
          class="input-data"
          type="text"
          value="{{ selectedTypePrestation.title }}"
        />
      </div>
      <div class="data-field">
        <label for="duration">Durée :</label>
        <select
          class="input-data"
          name="duration"
          id="duration"
          [(ngModel)]="selectedTypePrestation.duration"
        >
          <option value="10">10 min</option>
          <option value="20">20 min</option>
          <option value="30">30 min</option>
          <option value="40">40 min</option>
          <option value="50">50 min</option>
          <option value="60">1h</option>
          <option value="90">1h 30min</option>
        </select>
      </div>
      <div class="data-field">
        <label for="price">Prix :</label>
        <input
          name="price"
          [(ngModel)]="selectedTypePrestation.price"
          class="input-data"
          type="text"
          placeholder="10000€"
        />
      </div>
    </div>

    <div class="form-row">
      <div class="data-field">
        <label for="description">Description :</label>
        <textarea
          name="description"
          [(ngModel)]="selectedTypePrestation.description"
          class="input-data textarea"
          placeholder="Description de la prestation"
          maxlength="250"
        ></textarea>
      </div>
    </div>

    <div class="form-btn">
      <input
        class="input-btn"
        id="edit-customer-btn"
        type="submit"
        value="Sauvegarder"
      />
    </div>
  </form>
</div>
