.sidebar {
  width: 16%;
  background-color: transparent;
  position: fixed;
  z-index: 0;
  height: 100%;
  overflow: auto;
  border-right: 1px solid #e4e4e4;
  font-family: "Andika", sans-serif;
  box-shadow: 0px 0px 15px 1px rgba(129, 129, 129, 0.143);
}

.sidebar-logo {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  border: none;
  background-color: transparent;
}
.side-icon {
  width: 1rem;
  fill: #b6b6b6;
  padding-right: 0.5rem;
}

h3 {
  font-family: "Mirza", serif;
  padding: 1rem;
  margin-top: 1rem;
}
.disconnect {
  border: none;
  background-color: transparent;
  font-family: "Mirza", serif;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
}
ul {
  display: grid;
  list-style: none;
  gap: 1.5rem;
}
li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.separation {
  margin-top: 2rem;
  margin-left: 1rem;
  border-bottom: 1px solid #e4e4e4;
  width: 85%;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  width: 10rem;
  border: 3px solid transparent;
}

.button:hover {
  background-color: transparent;
  border: 3px solid #e4e4e4;
  border-radius: 10px;
  color: black;
}
.active-link {
  background-color: #343434;
  color: white;
  border-radius: 10px;
}
@media screen and (max-width: 700px) {
  mat-icon {
    padding-right: 30%;
  }
  .sidebar {
    height: 4rem;
    width: 100%;
    bottom: 0%;
  }

  .button-text,
  #accountability,
  #stock,
  #front-side,
  .sidebar-logo,
  h3 {
    display: none;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    padding-left: 5%;
  }
  li {
    padding-left: 3%;
  }
}
