* {
  margin: 0%;
  padding: 0%;
  font-family: "Mirza", serif;
  background-color: transparent;
}

form {
  margin-left: 16%;
  border-left: 0.5px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
}

h2 {
  font-weight: 500;
  padding-left: 2rem;
  padding-top: 1rem;
}

.input-data {
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-row {
  margin-left: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 0.5rem;
  justify-content: center;
}
.form-btn {
  margin-left: 10rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

#add-appointment-btn,
#add-customer-btn {
  background-color: #636363;
  color: white;
  box-sizing: border-box;
}
.input-btn {
  font-size: 1rem;
  border-radius: 2rem;
  border-style: none;
  cursor: pointer;
  width: 12rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-left: 6rem;
  margin-bottom: 0.5rem;
}
#add-customer-btn:not([disabled]) {
  background-color: #343434;
}
#add-customer-btn:not([disabled]):hover {
  background-color: white;
  color: #343434;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
@media screen and (max-width: 700px) {
  form {
    margin-left: 0%;
    border-left: none;
  }
  h2 {
    padding-left: 1rem;
  }
  .form-row {
    margin-left: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .form-btn {
    margin-left: 1rem;
    display: flex;
    margin-right: 3%;
  }
  .input-btn {
    width: 20rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    margin: 0.4rem;
  }
}
