<div id="modal-content-wrapper">
  <h1>
    Vous vous apprétez à supprimer le client {{ selectedCustomer.firstname }}
    {{ selectedCustomer.lastname }}
  </h1>
  <h2>Etes-vous sûr de vouloir le supprimer ?</h2>
  <div class="form-btn">
    <input
      (click)="onUpdateCustomer()"
      (keyup.enter)="onUpdateCustomer()"
      tabindex="0"
      class="input-btn"
      id="delete-customer-btn-oui"
      type="submit"
      value="OUI"
    />

    <input
      (click)="onCloseButton()"
      class="input-btn"
      id="delete-customer-btn-non"
      type="button"
      value="NON"
    />
  </div>
</div>
