* {
  margin: 0%;
  padding: 0%;
  font-family: "Mirza", serif;
}
.search-list {
  /* background-color: transparent; */
  margin: 0.7rem;
  margin-left: 17%;
  padding: 0.5rem;
  max-height: 100%;
  /* border: 2.5px solid #e8e8e8; */
  border-radius: 77px;
  background: linear-gradient(145deg, #f0f0f09c, #cacaca24);
  box-shadow: 3px 3px 5px #868686, -5px -5px 9px #f6f6f6cf;
  border-radius: 10px;
}

.list-container {
  height: 20rem;
  overflow-y: auto;
}

.searched-customer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 0.5rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  border-radius: 10px;
  /* background-color: transparent;
  border: 2.5px solid #e8e8e8; */
  background: linear-gradient(145deg, #f0f0f09c, #dadada24);
  box-shadow: 3px 3px 3px #b2b2b2c1, -3px -3px 7px #ffffff;
  border-radius: 10px;
}

.searched-customer div {
  width: 6rem;
}

h2 {
  font-weight: 500;
  padding-left: 2rem;
  padding-top: 1rem;
}

.input-data {
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-row {
  margin-left: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}

.edit-btn {
  width: 0.5rem;
  border-radius: 20%;
  background: linear-gradient(145deg, #ffffff, #d3d3d396);
  box-shadow: 3px 3px 3px #d1d1d1, -3px -3px 3px #ffffff;
}

.delete-btn {
  width: 0.5rem;
  border-radius: 20%;
  background: linear-gradient(145deg, #ffffff, #c0c0c096);
  box-shadow: 3px 3px 3px #d1d1d1, -3px -3px 3px #ffffff;
}
