* {
  margin: 0%;
  padding: 0%;
  font-family: "Mirza", serif;
}
.search-list {
  /* background-color: transparent; */
  margin: 0.7rem;
  margin-left: 17%;
  padding: 0.5rem;
  max-height: 100%;
  /* border: 2.5px solid #e8e8e8; */
  border-radius: 77px;
  border-radius: 1px;
}

.list-container {
  height: 23rem;
  overflow-y: auto;
}

.searched-customer {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  margin-right: 0.3rem;
  /* background-color: transparent;
  border: 2.5px solid #e8e8e8; */
  border-bottom: 1px solid #e8e8e8;
}

.searched-customer div {
  width: 6rem;
}

h2 {
  font-weight: 500;
  padding-left: 2rem;
  padding-top: 1rem;
}

.input-data {
  background-color: white;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.15) 1px 1px 2.6px;
  border-radius: 15px;
  display: inline-flex;
  align-items: center;
  padding: 0.2rem;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.form-row {
  margin-left: 3rem;
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  padding-bottom: 1rem;
}

.edit-btn {
  border-radius: 10%;
  background: linear-gradient(145deg, #ffffff, #c0c0c063);
}

.delete-btn {
  border-radius: 10%;
  background: linear-gradient(145deg, #ffffff, #c0c0c063);
}
@media screen and (max-width: 700px) {
  .search-list {
    margin: 0.7rem;
    margin-left: 3%;
    padding: 1rem;
  }

  h2 {
    padding-left: 0rem;
    padding-top: 0rem;
  }
  .form-row {
    margin-left: 0.5rem;
  }
  #edit-button,
  #delete-button {
    display: none;
  }
  .searched-customer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-radius: 5px;
  }
  .list-container {
    height: 17rem;
    overflow-y: auto;
  }
}
