<form class="search-container" [formGroup]="search">
  <h2>Nouveau rendez-vous</h2>
  <div class="form-row">
    <div class="data-field">
      <label for="customer-name">Nom du client :</label>
      <input
        class="input-data"
        type="text"
        required
        placeholder="Nom"
        formControlName="lastname"
      />
    </div>
    <div class="data-field">
      <label for="">Prenom :</label>
      <input
        class="input-data"
        type="text"
        required
        placeholder="Prénom"
        formControlName="firstname"
      />
    </div>
    <div class="data-field">
      <label for="start-date">Date de debut</label>
      <input
        class="input-data"
        type="datetime-local"
        name="start-date"
        id="start-date"
        formControlName="startDate"
      />
    </div>
    <div class="data-field"></div>
    <div class="data-field">
      <label for="end-date">Date de fin</label>
      <input
        class="input-data"
        type="datetime-local"
        name="end-date"
        id="end-date"
        formControlName="endDate"
      />
    </div>
  </div>
  <input
    class="input-btn"
    id="add-appointment-btn"
    type="submit"
    value="Ajouter le rendez-vous"
    (click)="onAddAppointment()"
  />
</form>
<div class="searched-customer">
  <div
    id="main-container"
    *ngFor="let customer of customers$ | async"
    (click)="selectCustomer(customer)"
  >
    <div class="search-list">
      {{ customer.lastname }} {{ customer.firstname }}
    </div>
  </div>
</div>
<!-- <div class="searched-customer">theo Pierson</div> -->
