<!-- <form #addForm="ngForm" (ngSubmit)="onAddAppointment(addForm)">
  <h2>Nouveau rendez-vous</h2>
  <div class="form-row">
    <div class="data-field">
      <mat-label>Nom du client</mat-label>
      <mat-select [(value)]="id" class="input-data">
        <mat-option
          class="value-data"
          *ngFor="let customer of customers$ | async"
          [value]="customer.id"
        >
          {{ customer.lastname }} {{ customer.firstname }}</mat-option
        >
      </mat-select>

      <label for="">Nom du client :</label>
      <select
        name="customer-name"
        id="customer-name"
        ngModel="customerName"
        class="input-data"
      >
        <option
          *ngFor="let customer of customers$ | async"
          [value]="customer.lastname"
        >
          {{ customer.lastname }} {{ customer.firstname }}
        </option>
      </select>
    </div>
    <div class="data-field">
      <mat-label>Type de prestation :</mat-label>
      <mat-select [(value)]="prestation" class="input-data">
        <mat-option>None</mat-option>
        <mat-option value="bronzage simple">Bronzage simple</mat-option>
        <mat-option value="bronzage protecteur">Bronzage protecteur</mat-option>
      </mat-select>
    </div>
    <div class="data-field">
      <mat-label>Temps de prestation :</mat-label>
      <mat-select [(value)]="duration" class="input-data">
        <mat-option value="10">10 min</mat-option>
        <mat-option value="20">20 min</mat-option>
        <mat-option value="30">30 min</mat-option>
        <mat-option value="40">40 min</mat-option>
        <mat-option value="50">50 min</mat-option>
        <mat-option value="60">60 min</mat-option>
      </mat-select>
    </div>
  </div>
    
  <div class="form-row">
    <div class="data-field">
      <label for="">Date du rendez-vous :</label>
      <input
        name="mail"
        ngModel
        class="input-data"
        type="datetime-local"
        placeholder="exemple@onyx.com"
      />
    </div>
  </div>
    <div class="form-btn">
      [disabled]="addForm.invalid"
      <input
        class="input-btn"
        id="add-appointment-btn"
        type="submit"
        value="Ajouter le rendez-vous"
      />
    </div>
  </div>
</form> -->
