#container {
  margin-left: 13.5rem;
}
#calendar-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}
.item-list {
  display: flex;
  justify-content: space-around;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
mat-icon {
  color: green;
}
@media screen and (max-width: 700px) {
  #calendar-container {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 1%;
    height: 32rem;
  }
}
