<div id="container">
  <div class="item-list">
    <h2>Prénom</h2>
    <h2>Nom</h2>
    <h2>Date de début</h2>
    <h2>Date de fin</h2>
  </div>

  <div *ngFor="let appointment of appointment$ | async" class="item-list">
    <div>{{ appointment.customer.firstname }}</div>
    <div>{{ appointment.customer.lastname }}</div>
    <div>{{ appointment.appointmentStartDate }}</div>
    <div>{{ appointment.appointmentEndDate }}</div>
    <div>
      <button><mat-icon>check_circle_outline</mat-icon></button>
    </div>
  </div>
</div>
